# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

prisma/migrations/*
dev.db


# ignore media files
public/media/*


# remove old code
old_code.js

# remove credentials
credentials.txt

# remove data
/src/app/lib/data/*


# remove
api_routes.txt

# remove
commands.txt

api_routes.txt

ap_routes.csv

out.csv

/dbml

schema.dbml

/ip_addr