.signInButton {
    background: #1b1e3b;
    color: #e5f4ff;
    border-radius: 0;
    padding: 16px 30px;
    font-size: 14px;
    font-family: "Hind Guntur", sans-serif;
    font-weight: 600;
    display: inline-block;
    border: 0;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 300ms linear 0s;
    outline: none;
}