@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html, body{
  /* overflow-x: hidden; */
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
.was-validated .form-control:valid,
.was-validated .form-control:invalid:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

#main {
  margin-top: 0 !important;
}

.card {
  
  border-radius: 0.625rem;
  
}

.offcanvas{
    border: 0px !important;
background-color: transparent;
}

.offcanvas .offcanvas-header {
    border-top-left-radius: 35px;
}

.offcanvas .offcanvas-body {
    border-bottom-left-radius: 35px;
}

#main, #footer {
  margin-left: 0px !important;
}

table#table_logs tr td{
  padding: 15px; 
}

table#table_logs tr:hover td {
  color: rgb(255, 38, 0);
  background: rgba(252, 164, 50, 0.692);
  
}


canvas#myChartlogs, canvas#myChartlogsBar{
  height: 350px !important;
}


img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}



.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h4.community, h4.gamification, h4.content {
  color: #ee005f;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1e40af;
  bottom: 0;
  left: calc(50% - 20px);
}

.faq-home-img-bg{
  background-image: url('/img/why-us.png');
}
.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #ee005f;
}

h3.heading {
  font-weight: 400;
  font-size: 34px;
  color: #ee005f;
}

.cta ul li i {
  color: #1e40af;
}
.cta ul li {
  list-style: none;
}
.ri-check-double-line:before {
  content: "\eb79";
}

.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}
section#services.services .icon-box p.card-text {
  color: #2c556b;
}
.services .icon-box:hover {
  transform: translateY(-10px);
}


.display-3 {
  font-size: calc(1.525rem + 3.3vw) !important;
  
}

header.header{
  padding: 15px !important;
  
}


/* about us page css */
.about-main{
  padding: 0 !important; 
}


.about-main section {
  padding: 60px 0;
  overflow: hidden;
}
.about-bg-1 {
  background: url('/img/section-bg5.jpg') no-repeat 50% 50%;
  background-size: auto;
  background-size: cover;
}



.about-main .page-title {
  padding: 300px 0px 20px 0px;
  position: relative;
}

.about-main .page-title .block h1 {
  color: #fff;
}

.about-main .about .content ul {
  list-style: none;
  padding: 0;
  
}

.about-main .about .content ul li {
  padding-bottom: 10px;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #4cb4e7;
  font-weight: 700;
}

.about-main .section-title-about {
  margin-bottom: 40px;
}


.about-main .section-title-about h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
  position : "static"
}

.about-main .section-title-about h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}



.section-title-about  p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #012970;
}


.testimonials .testimonial-wrap {
  padding-left: 50px;
  }
  
  .testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  border: 1px solid #eef0ef;
  position: relative;
  background: #fff;
  }
  
  .testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
  }
  
  .testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  }
  
  .testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
  }
  
  .testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #c1ecce;
  font-size: 26px;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  }
  
  
  
  .testimonials .testimonial-item .quote-icon-right {
  
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  
  }
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  
  color: #012970;
  font-size: 26px;
  
  }
  
  .testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #012970;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #012970;
  }
  

  /* contact us css */


  main#main.contact-us-main{
    padding: 0 !important; 
  }

main#main.contact-us-main .section-title {
  margin-bottom: 40px;
}


main#main.contact-us-main .form-group textarea.form-control {
  height: 100px;
}

main#main.contact-us-main .form-group label {
  font-size: 15px;
  font-weight: bold;
}
main#main.contact-us-main label {
  display: inline-block;
  margin-bottom: .5rem;
}
main#main.contact-us-main .form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
main#main.contact-us-main .form-row > .col, .form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
main#main.contact-us-main .form-group {
  margin-bottom: 1rem;
}
main#main.contact-us-main .form-group .form-control {
  height: 40px;
  background: transparent;
  border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
  border-bottom: 1px solid #E2E2E2;
  border-radius: 0;
  padding: 10px 0;
}
main#main.contact-us-main .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
main#main.contact-us-main .form-group .form-control:focus {
  outline: 0;
  border-color: #012970;
  box-shadow: none;
}
main#main.contact-us-main .list-unstyled {
  padding-left: 0;
  list-style: none;
}
main#main.contact-us-main dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
main#main.contact-us-main .address-block li {
  margin-bottom: 15px;
}
main#main.contact-us-main .address-block li i {
  font-size: 24px;
}
main#main.contact-us-main .bg-1 {
  background: url("/img/section-bg5.jpg") no-repeat 50% 50%;
    background-size: auto;
  background-size: cover;
}
main#main.contact-us-main .page-title {
  padding: 170px 0px 20px 0px;
  position: relative;
}
main#main.contact-us-main .page-title .block h1 {
  color: #fff;
}
main#main.contact-us-main .page-title .breadcumb-nav {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}
main#main.contact-us-main .list-inline {
  padding-left: 0;
  list-style: none;
}


/* customization */

.bg-card-custom{
  background-color: rgba(16,19,69, 1);
}

.gridjs-summary{
  color: #94a3b8 !important;
}

.gridjs-search-input{
  background-color: #0d0f2d !important;
  border: 0px solid #495057 !important;
  border-radius: 0.25rem !important;
  color: white !important;
}

.gridjs-pagination .gridjs-pages button{
  background-color: #0d0f2d !important;
  
  color: #94a3b8 !important;
}


.gridjs-pagination .gridjs-pages button:first-child{
  border: 1px solid #495057 !important;
  /* border-right: 0px !important; */

  border-radius: 0.25rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


.gridjs-pagination .gridjs-pages button{
  border: 1px solid #495057 !important;
  border-left: 0px !important;
  border-right: 1px solid #495057 !important;
  font-size: 18px;
}

.gridjs-pagination .gridjs-pages button.gridjs-currentPage{
  color: #e2e8f0 !important;
}

.theme-color {
  background-image: -webkit-linear-gradient(41deg, #0d0f2d 0%, #101230 100%);
}

.theme-bg-color { 
  background-color: #101230;
}

.theme-bg-color-2 { 
  background-color: rgba(49,81,188,1);
}

.theme-btn-bg-color{
  background-color: rgba(49,81,188,1);
}

.theme-btn-text-color{
  color: rgba(49,81,188,1);
}

.border-theme-color{
  border-color: rgba(49,81,188,1);;
}
