@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');



:root{
  --color-1 : #0b121f; /* btn-text */
  --color-2 : #9fef00;
  --color-3 : #141d2b;
  --color-4 : #000;
  --color-5 : #bbff34;
  --color-6 : #a4b1cd ; /* span text p */
  --color-7 : #202837;
  --color-8 : #111927; /* inputs */
  --color-9 : #1a2332;
  --color-10 : #9ca3af; /* placeholder */
  --color-11 : #0000; /* shadow */
  

  --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);


}





html, body{
  overflow-x: hidden;
}



.text-color-2{
  color: var(--color-2) !important;
}

.text-color-6{
  color : var(--color-6) !important;
}

.text-color-7{
  color: var(--color-7) !important;
}


.text-color-4{
  color: var(--color-1) !important;

}

.text-color-10{
  color: var(--color-10) !important;

}

.bg-color-2{
  background-color: var(--color-2) !important;
}

.bg-color-1{
  background-color: var(--color-1) !important;
}

.bg-color-7{
  background-color: var(--color-7) !important;
}

.bg-color-3{
  background-color: var(--color-3) !important;
}

.bg-color-6{
  background-color: var(--color-6) !important;

}

.bg-color-8{
  background-color: var(--color-8) !important;

}

.border-color-1{
  border-color: var(--color-1) !important;

}


textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
.was-validated .form-control:valid,
.was-validated .form-control:invalid:focus {
  box-shadow: inset 0 -1px 0 #ddd;
}

#main {
  margin-top: 0 !important;
}

.card {
  
  border-radius: 0.625rem;
  
}

.offcanvas{
    border: 0px !important;
background-color: transparent;
}

.offcanvas .offcanvas-header {
    border-top-left-radius: 35px;
}

.offcanvas .offcanvas-body {
    border-bottom-left-radius: 35px;
}

#main, #footer {
  margin-left: 0px !important;
}

table#table_logs tr td{
  padding: 15px; 
}

table#table_logs tr:hover td {
  color: rgb(255, 38, 0);
  background: rgba(252, 164, 50, 0.692);
  
}


canvas#myChartlogs, canvas#myChartlogsBar{
  height: 350px !important;
}


img.vert-move {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}



.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}
.section-title h4.community, h4.gamification, h4.content {
  color: #ee005f;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: white;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1e40af;
  bottom: 0;
  left: calc(50% - 20px);
}

.faq-home-img-bg{
  background-image: url('/img/why-us.png');
}
.why-us .img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.why-us .content h3 {
  font-weight: 400;
  font-size: 34px;
  color: #ee005f;
}

h3.heading {
  font-weight: 400;
  font-size: 34px;
  color: #ee005f;
}

.cta ul li i {
  color: #1e40af;
}
.cta ul li {
  list-style: none;
}
.ri-check-double-line:before {
  content: "\eb79";
}

.services .icon-box {
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}
section#services.services .icon-box p.card-text {
  color: #2c556b;
}
.services .icon-box:hover {
  transform: translateY(-10px);
}


.display-3 {
  font-size: calc(1.525rem + 3.3vw) !important;
  
}

header.header{
  padding: 15px !important;
  
}


/* about us page css */
.about-main{
  padding: 0 !important; 
}


.about-main section {
  padding: 60px 0;
  overflow: hidden;
}
.about-bg-1 {
  background: url('/img/section-bg5.jpg') no-repeat 50% 50%;
  background-size: auto;
  background-size: cover;
}



.about-main .page-title {
  padding: 300px 0px 20px 0px;
  position: relative;
}

.about-main .page-title .block h1 {
  color: #fff;
}

.about-main .about .content ul {
  list-style: none;
  padding: 0;
  
}

.about-main .about .content ul li {
  padding-bottom: 10px;
}

.counts .counters span {
  font-size: 48px;
  display: block;
  color: #4cb4e7;
  font-weight: 700;
}

.about-main .section-title-about {
  margin-bottom: 40px;
}


.about-main .section-title-about h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
  position : "static"
}

.about-main .section-title-about h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #9ae1af;
  margin: 4px 10px;
}



.section-title-about  p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #012970;
}


.testimonials .testimonial-wrap {
  padding-left: 50px;
  }
  
  .testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px 30px 30px 60px;
  margin: 30px 15px;
  min-height: 200px;
  border: 1px solid #eef0ef;
  position: relative;
  background: #fff;
  }
  
  .testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 10px;
  border: 6px solid #fff;
  position: absolute;
  left: -45px;
  }
  
  .testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  }
  
  .testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
  }
  
  .testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px auto 15px auto;
  }
  
  .testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
  }
  
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: #c1ecce;
  font-size: 26px;
  }
  
  .testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  }
  
  
  
  .testimonials .testimonial-item .quote-icon-right {
  
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
  
  }
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  
  color: #012970;
  font-size: 26px;
  
  }
  
  .testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #012970;
  }
  
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #012970;
  }
  

  /* contact us css */


  main#main.contact-us-main{
    padding: 0 !important; 
  }

main#main.contact-us-main .section-title {
  margin-bottom: 40px;
}


main#main.contact-us-main .form-group textarea.form-control {
  height: 100px;
}

main#main.contact-us-main .form-group label {
  font-size: 15px;
  font-weight: bold;
}
main#main.contact-us-main label {
  display: inline-block;
  margin-bottom: .5rem;
}
main#main.contact-us-main .form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
main#main.contact-us-main .form-row > .col, .form-row > [class*="col-"] {
  padding-right: 5px;
  padding-left: 5px;
}
main#main.contact-us-main .form-group {
  margin-bottom: 1rem;
}
main#main.contact-us-main .form-group .form-control {
  height: 40px;
  background: transparent;
  border: 0;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
  border-bottom: 1px solid #E2E2E2;
  border-radius: 0;
  padding: 10px 0;
}
main#main.contact-us-main .form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
main#main.contact-us-main .form-group .form-control:focus {
  outline: 0;
  border-color: #012970;
  box-shadow: none;
}
main#main.contact-us-main .list-unstyled {
  padding-left: 0;
  list-style: none;
}
main#main.contact-us-main dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
main#main.contact-us-main .address-block li {
  margin-bottom: 15px;
}
main#main.contact-us-main .address-block li i {
  font-size: 24px;
}
main#main.contact-us-main .bg-1 {
  background: url("/img/section-bg5.jpg") no-repeat 50% 50%;
    background-size: auto;
  background-size: cover;
}
main#main.contact-us-main .page-title {
  padding: 170px 0px 20px 0px;
  position: relative;
}
main#main.contact-us-main .page-title .block h1 {
  color: #fff;
}
main#main.contact-us-main .page-title .breadcumb-nav {
  margin-top: 60px;
  padding-top: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}
main#main.contact-us-main .list-inline {
  padding-left: 0;
  list-style: none;
}


/* customization */

.bg-card-custom{
  background-color: rgba(16,19,69, 1);
}

.gridjs-summary{
  color: #94a3b8 !important;
}

.gridjs-search-input{
  background-color: #0d0f2d !important;
  border: 0px solid #495057 !important;
  border-radius: 0.25rem !important;
  color: white !important;
}

.gridjs-pagination .gridjs-pages button{
  background-color: #0d0f2d !important;
  
  color: #94a3b8 !important;
}


.gridjs-pagination .gridjs-pages button:first-child{
  border: 1px solid #495057 !important;
  /* border-right: 0px !important; */

  border-radius: 0.25rem !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


.gridjs-pagination .gridjs-pages button{
  border: 1px solid #495057 !important;
  border-left: 0px !important;
  border-right: 1px solid #495057 !important;
  font-size: 18px;
}

.gridjs-pagination .gridjs-pages button.gridjs-currentPage{
  color: #e2e8f0 !important;
}

.theme-color {
  background-color: var(--color-1);
}

.theme-bg-color { 
  background-color: #101230;
}

.theme-bg-color-2 { 
  background-color: #3151bc;
}

.theme-btn-bg-color{
  background-color: rgba(49,81,188,1);
}

.theme-btn-text-color{
  color: rgba(49,81,188,1);
}

.border-theme-color{
  border-color: rgba(49,81,188,1);;
}


.btn-flag-submit{
  background-color: #07092c;
}

.bg-midnight-blue{
  background-color: #0f112e;
}

.bg-dark-blue{
  background-color: #0F0836;
}


/* accodion animation css */

/* Add this to your CSS */
.accordion-content-enter {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.accordion-content-enter-active {
  opacity: 1;
  max-height: 1000px; /* Adjust as needed */
  transition: opacity 200ms, max-height 200ms ease-in-out;
}

.accordion-content-exit {
  opacity: 1;
  max-height: 1000px; /* Adjust as needed */
}

.accordion-content-exit-active {
  opacity: 0;
  max-height: 0;
  transition: opacity 200ms, max-height 200ms ease-in-out;
}


.text-end{
  text-align: end;
}



input[type=text]:focus, input[type=password]:focus{
  box-shadow: inset 0 0px 0 #ddd;
}




.login:before {
  background-image: url('/assets/img/new_logo_3.svg');
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: auto 100%;
  content: "";
  height: 100%;
  min-height: 100%;
  left: 0;
  margin-left: -46%;
  position: absolute;
  top: 0;
  width: 100%;
}


.report-box:before {
  background: var(--color-7);
  border-radius: 0.375rem;
  box-shadow: 0 3px 20px #0000000b;
  content: "";
  height: 100%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.75rem;
  position: absolute;
  right: 0;
  width: 85%;
}


nav#user_dashboard a.active{
  background-color: var(--color-3);
  color: var(--color-2);
}

input[type="checkbox"]:not(input[role="switch"]):not(input[role="terms"]){
  background-color: rgb(63 72 101);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 0px solid #cbd5e0;
  border-radius: 4px;
  transition: background-color 0.2s, border-color 0.2s;
  cursor: pointer;
}

input[type="checkbox"]:not(input[role="switch"]):not(input[role="terms"]):checked {
   content: '\2713';
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='%23fff' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check'%3E%3Cpath d='M20 6 9 17l-5-5'/%3E%3C/svg%3E");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: rgba(7,9,44,1);
  border-color: rgba(7,9,44,1);
}

.input[type=checkbox]:not(input[role="switch"]):not(input[role="terms"]):before {
  --tw-text-opacity: 1;
  align-items: center;
  
  color: rgba(255,255,255,1);
  content: "";
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  transition: all .2s ease-in-out;
  width: 100%;
}



/* Scrollbar.css */

/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}






/* switch checkbox */





.zoom-in:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  --tw-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),0 10px 10px -5px rgba(0,0,0,0.04);
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
.zoom-in {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  cursor: pointer;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  transition-duration: .15s;
  transition-duration: .3s;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

input[type=radio] {
  padding: 0!important;
  background-color: rgba(7,9,44,1) !important;
  cursor: pointer;
  height: 16px;
  overflow: hidden;
  position: relative;
  width: 16px
}



input[type=radio]:before {
  background-color: rgba(7,9,44,1) !important;
  border-radius: 9999px  !important;
  bottom: 0;
  content: "";
  height: 10px;
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all .2s ease-in-out;
  width: 10px
}


input[type=radio]:checked {
  border-color: #07092c;
}

input[type=radio]:checked:before {
  opacity: 1;
  background-color: #35c2f1  !important;
}

.report-timeline .report-timeline__image:before, .report-timeline:before {
  background-color: rgba(222,231,239,1);
  content: "";
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  position: absolute;
}

.report-timeline:before {
  height: 70%;
  width: 1px;
}


.report-timeline .report-timeline__image:before, .report-timeline:before {
  background-color: rgba(63,72,101,1);
}

.report-timeline .report-timeline__image:before {
  height: 1px;
  width: 2rem;
}

.report-timeline .report-timeline__image:before, .report-timeline:before {
  content: "";
  margin-left: 1.25rem;
  margin-top: 1.25rem;
  position: absolute;
}

.image-fit {
  position: relative;
}

.modal-header {
  border-bottom: 0.2rem solid #2b344c !important;
  padding: 1rem;
}


.table-report:not(.table-report--bordered):not(.table-report--tabulator) td.table-report__action {
  padding-bottom: 0;
  padding-top: 0;
  position: relative;
}
.dark .table-report:not(.table-report--bordered) td {
  background-color: rgba(16,19,69,1);
}

.table-report:not(.table-report--bordered):not(.table-report--tabulator) td {
  box-shadow: 20px 3px 20px #0000000b;
}

.table-report:not(.table-report--bordered) td.table-report__action:before {
  background-color: rgba(63,72,101,1);
}

.table-report:not(.table-report--bordered):not(.table-report--tabulator) td.table-report__action:before {
  background-color: rgba(229,231,235,1);
  bottom: 0;
  content: "";
  height: 2rem;
  left: 0;
  margin-bottom: auto;
  margin-top: auto;
  position: absolute;
  top: 0;
  width: 1px;
}

.table td, .table th {
  padding: 0.75rem 1.25rem;
}

.table-report:not(.table-report--bordered):not(.table-report--tabulator) {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table-report:not(.table-report--bordered):not(.table-report--tabulator) td:first-child {
  border-bottom-left-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}

.table-report:not(.table-report--bordered):not(.table-report--tabulator) td:last-child {
  border-bottom-right-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}



.table-report:not(.table-report--bordered) td {
  background-color: rgba(16,19,69,1);
}




.custom-form-control {
  font-size: 1rem;
  height: 54px;
  color: #a4b1cd;
  background-color: var(--color-8) !important;
  display: block;
  width: 100%;
  padding: .47rem .75rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid var(--color-9) ;
  border-radius: 0.375rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  outline: 2px solid transparent;
  outline-offset: 2px;	
  margin: 0px;
  margin-top: 0.5rem;
  box-shadow: var(--tw-ring-offset-shadow, 0 0  var(--color-11)), var(--tw-ring-shadow, 0 0 var(--color-11)), var(--tw-shadow);	

  /* border-radius: 0.375rem; */
  /* display: block; */
  /* font-size: 1rem; */
  /* line-height: 1.5rem; */
}


input.custom-form-control::placeholder{
  color: var(--color-10);	
}

input.custom-form-control:focus, input.custom-form-control:active{
  border: 1px solid var(--color-9) ;
}



.submit-btn{
  background-color: var(--color-2);
  color: var(--color-1);
  font-weight: 700;
  border-radius: 0.375rem;
  width: 10rem;
  margin-right: 0.75rem;
  vertical-align: top;
  display: inline-block;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  border-radius: 0.5rem;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 200ms;
  transition-timing-function: linear;
}


.answer-submit-btn{
    background-color: var(--color-7);
    color: var(--color-6);
    font-weight: 700;
    border-radius: 0.375rem;
    /* width: 10rem; */
    margin-right: 0.75rem;
    vertical-align: top;
    display: inline-block;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    height: 54px;
    text-align: center;
    border-radius: 0.5rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

/* .loader */


.not-found-2{
  display: flex;	
  flex-direction: column;	
  align-items: center;	
  justify-content: center;	
  padding-top: 0px;	
  padding-right: 2.5rem;	
  /* padding-bottom: 1.25rem;	 */
  padding-left: 2.5rem;	
  margin-top: 0px;	
  margin-right: auto;	
  margin-bottom: 0px;	
  margin-left: auto;	
}


.stickyMenu{
  border-bottom: 1px solid var(--color-1);
  background: var(--color-1);
}

.back-btn, .reset-filter-btn{
  background: var(--color-2);
  padding-top : 10px;
  padding-bottom : 10px;
  padding-left: 10px;
  padding-right : 10px;
  border-radius: 0.375rem;
  color: var(--color-1);
  font-weight: 700;
}

.back-btn:hover, .reset-filter-btn:hover{
  background: var(--color-5);
  color: var(--color-4);
}
/* 
.reset-filter-btn{
  background: var(--color-2);
  padding-top : 10px;
  padding-bottom : 10px;
  padding-left: 10px;
  padding-right : 10px;
  border-radius: 0.375rem;
  color: var(--color-1);
  font-weight: 700;
}

.reset-filter-btn:hover{
  background: var(--color-5);
  color: var(--color-4);
} */