.faq-home-img-bg{
    background-image: url('/assets/img/why-us.png');
  }
  .why-us .img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .why-us .content h3 {
    font-weight: 400;
    font-size: 34px;
    color: #ee005f;
  }